@import url(//db.onlinewebfonts.com/c/a3671e0d405786ab5ca047aa77c03bc3?family=MonteCasinoNFW01-Regular);   
   
   #container {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative;
  }

  #display {
    display: block;
    position: absolute;
    top: 4%;
    left: 17%;
    width: 272px;
    height: 59px;
    border: 5px solid black;
    background-color: white ;
    border-radius: 20px;
    text-align: center;
    font-family: "MonteCasinoNFW01-Regular";
    font-size: 3rem;
  }
  
  .arrow {
    position: absolute;
    width: 60px;
    left: 172px;
    top: 106px;
  }
  
  .wheel {
    position: absolute;
    left: -13px;
    top: 27%;
    width: 107%;
    height: 107%;
  }
  

  .button {
    display: block;
    position: absolute;
    top: 135%;
    left: 43px;
    width: 325px;
    margin: 40px auto;
  }
  
  .button:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  
  *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  
  body{
    background-image: url(../images/bg1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }